<div class="jumbotron" style="background-color:lightgray; position: relative;">
  <div class="text-center">
    <div style="visibility: hidden">!</div>
    <h1 class="display-4">Logan Ingram</h1>
    <h3>Software Engineer</h3>
    <div style="visibility: hidden">!</div>
  </div>

  <div style="position: absolute; bottom: 5px; right: 10px">
    <a href="//github.com/Loganphx" target="_blank">
      <img src="assets/github.png" width="24" height="24" class="rounded-circle me-2">
    </a>

    <a href="//www.linkedin.com/in/logansingram/" target="_blank">
      <img src="assets/linkedin.png" width="24" height="24" class="rounded-circle me-2">
    </a>

    <a href="//instagram.com" target="_blank">
      <img src="assets/instagram.png" width="24" height="24" class="rounded-circle me-2">
    </a>
  </div>
</div>

