<nav class="navbar-expand-md border-bottom mb-3">
  <div class="container" style="text-align: center">
    <ul class="nav justify-content-center" style="display:flex;">
      <li class="nav-item" style="margin: 10px;">
        <a class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-dark">Home</a>
      </li>
      <li class="nav-item" style="margin: 10px">
        <a class="nav-link text-secondary" routerLink="/portfolio" routerLinkActive="text-dark">Portfolio</a>
      </li>
      <li class="nav-item" style="margin: 10px">
        <a class="nav-link text-secondary" routerLink="/resume" routerLinkActive="text-dark">Resume</a>
      </li>
      <li class="nav-item" style="margin: 10px">
        <a class="nav-link text-secondary" routerLink="/contact" routerLinkActive="text-dark">Contact</a>
      </li>
    </ul>
  </div>
</nav>
