<div class="container">
  <div class="mb-2">
    <div>
      <button class="btn btn-outline-primary mb-2 me-2" (click)="isCollapsed = !isCollapsed">Filter</button>
      <button class="btn btn-outline-primary mb-2 me-2" (click)="ResetFilters()" [hidden]="!filtering">Reset</button>
    </div>

    <div [collapse]="isCollapsed" [isAnimated]="true">
      <div class="border mb-2 shadow-sm" style="width: 250px">
        <form>
          <div class="row mx-0">
            <div class="col">
              <small><b>Languages:</b></small>

              <div class="form-group">

                <div class="form-check">
                  <input type="checkbox"
                         class="form-check-input position-static me-2"
                         [(ngModel)]="typescript" (change)="filter()" name="TypeScript">
                  <label class="form-check-label small">TypeScript</label>
                </div>
                <div class="form-check">
                  <input type="checkbox"
                         class="form-check-input position-static me-2"
                         [(ngModel)]="javascript" (change)="filter()" name="JavaScript">
                  <label class="form-check-label small">JavaScript</label>
                </div>
                <div class="form-check">
                  <input type="checkbox"
                         class="form-check-input position-static me-2"
                         [(ngModel)]="java" (change)="filter()" name="Java">
                  <label class="form-check-label small">Java</label>
                </div>
                <div class="form-check">
                  <input type="checkbox"
                         class="form-check-input position-static me-2"
                         [(ngModel)]="csharp" (change)="filter()" name="CSharp">
                  <label class="form-check-label small">C#</label>
                </div>
                <div class="form-check">
                  <input type="checkbox"
                         class="form-check-input position-static me-2"
                         [(ngModel)]="python" (change)="filter()" name="Python">
                  <label class="form-check-label small">Python</label>
                </div>

              </div>

            </div>

            <div class="col">
              <small><b>Frameworks:</b></small>

              <div class="form-group">
                <div class="form-check">
                  <input type="checkbox"
                         class="form-check-input position-static me-2"
                         [(ngModel)]="angular" (change)="filter()" name="Angular">
                  <label class="form-check-label small">Angular</label>
                </div>
                <div class="form-check">
                  <input type="checkbox"
                         class="form-check-input position-static me-2"
                         [(ngModel)]="aspnet" (change)="filter()" name="ASPNET">
                  <label class="form-check-label small">ASP.NET</label>
                </div>
                <div class="form-check">
                  <input type="checkbox"
                         class="form-check-input position-static me-2"
                         [(ngModel)]="nodejs" (change)="filter()" name="NodeJS">
                  <label class="form-check-label small">NodeJS</label>
                </div>
                <div class="form-check">
                  <input type="checkbox"
                         class="form-check-input position-static me-2"
                         [(ngModel)]="react" (change)="filter()" name="React">
                  <label class="form-check-label small">React</label>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let project of projects" class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width: 380px">
      <app-project-card [project]="project"></app-project-card>
    </div>
  </div>
</div>
