<script src="../app.config.ts"></script>
<div class="container">
  <div class="row">
    <!--About Me-->
    <div class="col-lg shadow border m-1" style="margin: 10px">
      <div class="text-center">
        <h2>About Me</h2>
        <img src="assets/default_profile_picture.jpg"
             alt="Profile Picture" width="256" height="256"
             class="rounded-circle">
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Fames curabitur netus tristique arcu fringilla habitant. Lorem varius feugiat nibh quisque massa himenaeos nisl. Cursus ligula commodo curae non interdum netus. Elementum tincidunt magna tellus netus montes. Ad lacinia congue nam cursus habitasse hendrerit rutrum senectus.

          Elit sit ultricies, fusce rutrum sodales facilisi. Dictumst cras molestie augue phasellus mauris curabitur. Condimentum montes pellentesque leo nam magnis molestie integer curabitur ante. Mus nullam augue massa litora in, eget vulputate. Sem adipiscing erat ultricies ad iaculis lacus. Nascetur vestibulum est conubia augue tellus vehicula. Porttitor posuere lectus finibus vestibulum leo ac..</p>
      </div>
    </div>

    <!--Featured Project-->
    <div class="col-lg shadow border m-1" style="margin: 10px">
      <div class="text-center">
        <h2>Featured Project</h2>
        <h4>{{featuredProject.name}}</h4>
      </div>

      <carousel>
        <div *ngFor="let pictureUrl of featuredProject.pictures">
          <slide><img src="{{pictureUrl}}" alt="slide" style="display: block; width: 100%"></slide>
        </div>
      </carousel>

      <p class="mt-2">{{featuredProject.summary}}</p>
      <p>Visit the Portfolio Section to learn more.</p>
    </div>
  </div>
</div>
